.formFields {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorBlock {
    padding: 8px;
    color: red;
    font-weight: bold;
}