.container {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-around;
}

.container input {
    width: 150px;
    margin-right: 40px;
    margin-top: 50px;
}

.container button {
    align-self: flex-start;
}

.container .message {
    align-self: flex-start;
    justify-content: flex-end;
    color: red;
}

.container .sentMailResponse {
    display: flex;
    flex-direction: column;
    color: lawngreen;
    font-weight: bold;
    margin-top: 50px;
}