.mainHeader {
    margin: 8px;
    display: flex;
    justify-content: flex-start;
}

.mainHeader a {
    color: #282c34;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 5px;
}

.mainHeader a:hover, .mainHeader a:active {
    color: #9a9a9a;
    border-bottom: 3px solid white;
    text-decoration: underline;
}