.profile {
    margin: 8px;
    padding: 5px;
}

.containerProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerProfile img {
    width: 216px;
    height: 300px;
}